In [13]:
import pandas as pd

from tabulate import tabulate

In [14]:
data = [
    ["stdid", "stdname", "standard", "Age", "Hindi", "English", "Maths", "Science", "Computer", "Total"],
    ["std101", "Ashish Kumar", "10th", 15, 67, 89, 87, 89, 90, 422],
    ["std102", "Abhishek Kumar", "10th", 14, 90, 90, 90, 45, 45, 360],
    ["std103", "Aman", "10th", 15, 67, 56, 78, 78, 45, 313],
    ["std104", "Rahul", "10th", 15, 89, 56, 45, 45, 67, 302],
    ["std105", "Ruby", "10th", 13, 78, 90, 67, 45, 56, 336],
    ["std106", "Suman", "10th", 15, 90, 45, 67, 67, 67, 403],
    ["std107", "Saurabh", "10th", 15, 45, 23, 34, 78, 90, 270],
    ["std108", "Sumit", "10th", 15, 78, 90, 67, 78, 78, 391],
    ["std109", "Kamlesh", "10th", 15, 45, 78, 56, 67, 67, 303],
    ["std110", "Rohan", "10th", 15, 12, 24, 45, 56, 34, 171]
]

In [15]:
df = pd.DataFrame(data[1:], columns=data[0])

In [16]:
print(df)

    stdid         stdname standard  Age  Hindi  English  Maths  Science  \
0  std101    Ashish Kumar     10th   15     67       89     87       89
1  std102  Abhishek Kumar     10th   14     90       90     90       45
2  std103            Aman     10th   15     67       56     78       78
3  std104           Rahul     10th   15     89       56     45       45
4  std105            Ruby     10th   13     78       90     67       45
5  std106           Suman     10th   15     90       45     67       67
6  std107         Saurabh     10th   15     45       23     34       78
7  std108           Sumit     10th   15     78       90     67       78
8  std109         Kamlesh     10th   15     45       78     56       67
9  std110           Rohan     10th   15     12       24     45       56

   Computer  Total
0        90    422
1        45    360
2        45    313
3        67    302
4        56    336
5        67    403
6        90    270
7        78    391
8        67    303
9        34    171

In [19]:
studenttable = tabulate(data[1:], headers = data[0], tablefmt = 'grid')  # student data into table
print(studenttable)

+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname        | standard   |   Age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+=========+================+============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek Kumar | 10th       |    14 |      90 |        90 |      90 |        45 |         45 |     360 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman           | 10th       |    15 |      67 |        56 |      78 |        78 |         45 |     313 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul          | 10th       |    15 |      89 |        56 |      45 |        45 |         67 |     302 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby           | 10th       |    13 |      78 |        90 |      67 |        45 |         56 |     336 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman          | 10th       |    15 |      90 |        45 |      67 |        67 |         67 |     403 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurabh        | 10th       |    15 |      45 |        23 |      34 |        78 |         90 |     270 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit          | 10th       |    15 |      78 |        90 |      67 |        78 |         78 |     391 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh        | 10th       |    15 |      45 |        78 |      56 |        67 |         67 |     303 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan          | 10th       |    15 |      12 |        24 |      45 |        56 |         34 |     171 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+

In [20]:
print("students whose marks in english are greater than 50 are: ")
for i in range(1,len(data)):
    if(int(data[i][5]) >50):
        print(data[i][1])

students whose marks in english are greater than 50 are:
Ashish Kumar
Abhishek Kumar
Aman
Rahul
Ruby
Sumit
Kamlesh

In [22]:
# display students name and age of top 4 scorers of math


data_rows = data[1:]

# Sort the data rows by the 'Maths' column (index 6) in descending order
sorted_data = sorted(data_rows, key=lambda x: int(x[6]), reverse=True)

# Get the top 4 scorers
top_4_scorers = sorted_data[:4]

In [24]:
print("Top 4 scorers in Math are:")
for row in top_4_scorers:
    print(row[1], row[3])

Top 4 scorers in Math are:
Abhishek Kumar 14
Ashish Kumar 15
Aman 15
Ruby 13

In [25]:
# name , id , age of students who are bottom 3 scorer of computer


data_rows2 = data[1:]
sorted_data2 = sorted(data_rows, key=lambda x: int(x[8]), reverse=False)

bottom_3 = sorted_data2[:3]

In [26]:
print("bottom 3 scorers in computer are:")
for row in bottom_3:
    print(row[0], row[1], row[3])

bottom 3 scorers in computer are:
std110 Rohan 15
std102 Abhishek Kumar 14
std103 Aman 15

In [31]:
t= (1,2,3,0,56,34)  # slicing in tuples

print(t[-6:])

(1, 2, 3, 0, 56, 34)

In [35]:
t= (1,2,3,0,56,34)  # slicing

print(*t[::-1], end="\n")

34 56 0 3 2 1